<div id="animal-list">
  <form class="form-inline">
    <div class="form-group">
      <label for="age-filter">Filter by age:</label>
      <select class="form-control" id="age-filter" name="age-filter" [(ngModel)]="filterType">
        <option value="all-ages">Show All</option>
        <option value="less-than-2">All &lt; 2 Years</option>
        <option value="greater-than-2">All &gt;= 2 Years</option>
      </select>
    </div>
  </form>
  <hr>
  <div *ngFor="let animal of animalList | filterAnimalList:filterType" class="animal-entry">
    <p>
      Species:
      <editable-text [displayText]="animal.species" (editSender)="animal.editSpecies($event)"></editable-text>
    </p>
    <p>
      Name:
      <editable-text [displayText]="animal.name" (editSender)="animal.editName($event)"></editable-text>
    </p>
    <p>
      Age:
      <editable-text [displayText]="animal.age" (editSender)="animal.editAge($event)"></editable-text>
    </p>
    <p>
      Sex:
      <editable-text [displayText]="animal.getSexAsString()" (editSender)="animal.editSex($event)"></editable-text>
    </p>
    <p>
      Diet:
      <editable-text [displayText]="animal.getDietAsString()" (editSender)="animal.editDiet($event)"></editable-text>
    </p>
    <p>
      Location:
      <editable-text [displayText]="animal.location" (editSender)="animal.editLocation($event)"></editable-text>
    </p>
    <p>
      Caretakers:
      <editable-text [displayText]="animal.caretakers" (editSender)="animal.editCaretakers($event)"></editable-text>
    </p>
    <p>
      Likes:
      <editable-text [displayText]="animal.getLikesAsString()" (editSender)="animal.editLikes($event)"></editable-text>
    </p>
    <p>
      Dislikes:
      <editable-text [displayText]="animal.getDislikesAsString()" (editSender)="animal.editDislikes($event)"></editable-text>
    </p>
    <hr>
  </div>
</div>
