<div id="animal-list">
  <hr>
  <div *ngFor="let animal of animalList" class="animal-entry">
    <p><editable-text [displayText]="'Species: '  + animal.species"></editable-text></p>
    <p><editable-text [displayText]="'Name: '  + animal.name"></editable-text></p>
    <p><editable-text [displayText]="'Age: '  + animal.age"></editable-text></p>
    <p><editable-text [displayText]="'Sex: '  + animal.getSexAsString()"></editable-text></p>
    <p><editable-text [displayText]="'Diet: '  + animal.getDietAsString()"></editable-text></p>
    <p><editable-text [displayText]="'Location: '  + animal.location"></editable-text></p>
    <p><editable-text [displayText]="'Caretakers: '  + animal.caretakers"></editable-text></p>
    <p><editable-text [displayText]="'Likes: '  + animal.getLikesAsString()"></editable-text></p>
    <p><editable-text [displayText]="'Dislikes: '  + animal.getDislikesAsString()"></editable-text></p>
    <hr>
  </div>
</div>
