.inline-form {
  display: inline;
}

.icon-button {
  padding: 3px;
  cursor: pointer;

  &:hover {
    border: solid black 1px;
  }
}

.editable-text-select {
  display: inline;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100px;
}
